.btnTim{
    -fx-text-fill: white;
    -fx-background-color: #007bff;
}

.btnXoa{
    -fx-text-fill: white;
    -fx-background-color: #ff0000;
}

.btnXoaRong{
    -fx-text-fill: #000000;
    -fx-background-color: #e0e0e0;
}

.btnHuy{
    -fx-text-fill: #ffffff;
    -fx-background-color: #d3c871;
}

.label.title {
    -fx-font-size: 36px;
    -fx-font-weight: bold;
}