.btnTim{
    -fx-text-fill: white;
    -fx-background-color: #0c81ff;
}

.btnXoa{
    -fx-text-fill: white;
    -fx-background-color: #ff0000;
}

.btnXoaRong{
    -fx-text-fill: #000000;
    -fx-background-color: #e0e0e0;
}

.btnHuy{
    -fx-text-fill: #ffffff;
    -fx-background-color: #d3c871;
}

.label.title {
    -fx-font-size: 36px;
    -fx-font-weight: bold;
    -fx-margin-bottom: 3px;
    -fx-border-style: solid;
    -fx-border-color: transparent transparent #d1d9e6 transparent;
    -fx-border-width: 0 0 1 0; /* thin bottom line (1px) */
}