#btntim{
    -fx-background-color: rgba(0, 123, 255, 0.8);   /* trong suốt nền */
    -fx-border-color: transparent;       /* bỏ viền */
    -fx-font-size: 14px;
    -fx-background-radius: 6;
    -fx-cursor: hand;
    -fx-graphic-text-gap: 8;
    -fx-min-width: 60px;
    -fx-min-height: 40px;
    -fx-pref-height: 20px;
}
#lbtitle{
    -fx-font-size: 25px;
    -fx-font-weight: bold;
}
#lblpaneTitle{
    -fx-border-color: transparent transparent #ccc transparent;
    -fx-border-width: 0 0 1px 0;
}
#btnthemthuoc{
    -fx-background-color: green;   /* trong suốt nền */
    -fx-border-color: transparent;       /* bỏ viền */
    -fx-font-size: 14px;
    -fx-background-radius: 6;
    -fx-cursor: hand;
    -fx-graphic-text-gap: 8;
    -fx-min-height: 40px;
    -fx-border-radius: 6;
}

#btnnhapxuat{
    -fx-background-color: rgba(50, 100, 255, 0.8);   /* trong suốt nền */
    -fx-border-color: transparent;       /* bỏ viền */
    -fx-font-size: 14px;
    -fx-background-radius: 6;
    -fx-cursor: hand;
    -fx-graphic-text-gap: 8;
    -fx-min-height: 40px;
    -fx-border-radius: 6;
    -fx-min-width: 20px;
    -fx-pref-width: 36px;
    -fx-pref-height: 20px;
}
#tablethuoc {
    -fx-border-color: #333;
    -fx-border-radius: 2px;
    -fx-border-width: 1px;
}
#btntim,#btnnhapxuat,#btnthemthuoc{
    -fx-text-fill: white; /* Màu chữ trắng */
}
/*#tablethuoc .table-cell,*/
/*#tablethuoc .column-header {*/
/*    -fx-border-color: #333;*/
/*    -fx-border-width: 1px;*/
/*    -fx-border-style: solid;*/
/*    -fx-border-radius: 0;*/
/*}*/

.a-center{
    -fx-alignment: center;
}
.btn:hover{
    -fx-opacity: 0.9;
}
#btnXoa{
    -fx-background-color: red;
    -fx-border-color: transparent;
    -fx-font-size: 14px;
    -fx-background-radius: 6;
    -fx-cursor: hand;
    -fx-graphic-text-gap: 8;
    -fx-min-height: 40px;
    -fx-border-radius: 6;
    -fx-text-fill: white;
}
#btnReset {
    -fx-background-color: #2ECC71; /* Màu xanh lá 'flat UI' */
    -fx-border-color: transparent;
    -fx-font-size: 14px;
    -fx-background-radius: 6;
    -fx-border-radius: 6;
    -fx-cursor: hand;
    -fx-graphic-text-gap: 8;
    -fx-min-height: 32px;
}
#btnReset:hover {
    -fx-background-color: #29b765; /* Hơi đậm hơn khi di chuột qua */
}
#btnReset:pressed {
    -fx-background-color: #25a25a; /* Đậm hơn khi nhấn */
}
