.lbtitle{
    -fx-border-color: transparent transparent #ccc transparent;
    -fx-border-width: 0 0 1px 0;
    -fx-font-weight: bold;
    -fx-font-size: 18px;

}
#btnchonanh{
    -fx-background-color: rgba(0, 123, 255, 0.8);   /* trong suốt nền */
    -fx-border-color: transparent;       /* bỏ viền */
    -fx-font-size: 14px;
    -fx-background-radius: 6;
    -fx-cursor: hand;
    -fx-graphic-text-gap: 8;
    -fx-min-width: 80px;
    -fx-min-height: 30px;
    -fx-pref-height: 18px;
    -fx-text-fill: white; /* Màu chữ trắng */
}
#btnthemdvt{
    -fx-background-color: green;   /* trong suốt nền */
    -fx-border-color: transparent;       /* bỏ viền */
    -fx-font-size: 14px;
    -fx-background-radius: 6;
    -fx-cursor: hand;
    -fx-graphic-text-gap: 8;
    -fx-min-width: 100px;
    -fx-min-height: 32px;
    -fx-pref-height: 20px;
    -fx-text-fill: white; /* Màu chữ trắng */
}
.btnthemhuy{
    -fx-min-height: 32px;
    -fx-pref-height: 20px;
    -fx-min-width: 44px;
}
#btnluu{
    -fx-background-color: green;
    -fx-text-fill: white;
}
#btnxoa{
    -fx-background-color: red;
}
#btnhuy{
    -fx-background-color: #de2c2c;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-border-radius: 4px;

}

.btn:hover{
    -fx-opacity: 0.9;
}

.btnChiTiet{
    -fx-background-color: #0288d1;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-border-radius: 4px;
}
#btngiaban{
-fx-background-color: #1EB4D9;
-fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-border-radius: 6px;}
.title{
    -fx-font-size: 17px;
    -fx-font-weight: bold;
    -fx-border-color: transparent transparent #ccc transparent;
    -fx-border-width: 0 0 1px 0;
}