.warning-alert {
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-width: 2;
    -fx-background-color: linear-gradient(to bottom right, #FFFFFF, #FFF7E6);
    -fx-padding: 20;
    -fx-font-family: "Segoe UI";
}

.warning-alert .content {
    -fx-font-size: 15px;
    -fx-text-fill: #333;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-padding: 10 0 10 0;
}

.warning-alert .header-panel {
    -fx-background-color: transparent;
}

.warning-alert .button {
    -fx-background-radius: 25;
    -fx-padding: 6px 18px;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-color: #0095FF;
    -fx-text-fill: white;
}

.warning-alert .button:hover {
    -fx-background-color: #0077CC;
}

.warning-alert .graphic-container {
    -fx-padding: 0 0 0 0;
}

.warning-alert .alert.graphic {
    -fx-padding: 0;
}

.dialog-pane .header-panel .label {
    -fx-font-size: 18px;
    -fx-text-fill: #FFA000;
    -fx-font-weight: bold;
}
.info-alert {
    -fx-background-color: linear-gradient(to bottom right, #E3F3FF, #FFFFFF);
    -fx-border-width: 3px;
    -fx-border-radius: 18px;
    -fx-background-radius: 18px;
}

.info-alert .header-panel .label {
    -fx-text-fill: #0077E6;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.info-alert .content {
    -fx-text-fill: #004A8F;
    -fx-font-size: 16px;
}

/* Lá»—i */
.error-alert {
    -fx-background-color: linear-gradient(to bottom right, #FFE3E3, #FFFFFF);
    -fx-border-width: 3px;
    -fx-border-radius: 18px;
    -fx-background-radius: 18px;
}

.error-alert .header-panel .label {
    -fx-text-fill: #E60023;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.error-alert .content {
    -fx-text-fill: #B00017;
    -fx-font-size: 16px;
}
.confirm-alert {
    -fx-background-color: #e3f2fd;
}

.confirm-alert .button {
    -fx-font-size: 14px;
}
