
#pnlGrid{
    -fx-background-color: #efefef;
}

#paneMain{
    -fx-background-color: #ffffff;
    -fx-background-radius: 20px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 10, 0.3, 0, 2);
}

#paneMainThoiGian{
    -fx-background-color: #ffffff;
    -fx-border-color: #ff9041;
    -fx-border-width: 2px;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}
#paneMainTenSD{
    -fx-background-color: #ffffff;
    -fx-border-color: #1e90ff;
    -fx-border-width: 0.5px;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-effect: dropshadow(gaussian, rgba(30, 144, 255, 0.7), 10, 0, 0, 4);
}

.table-view {
    -fx-focus-traversable: false;
}

#pnlThongTin{
    -fx-background-color: #ffffff;
    -fx-effect: dropshadow(gaussian, rgba(108, 108, 108, 0.7), 8, 0, 0, 2);
}

#custom-textfield {
    -fx-background-color: #e8e8e8;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
    -fx-padding: 5 10 5 10;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
}

#btnDangXuat{
    -fx-background-color: #ff4d4d;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 5px;
    -fx-padding: 8 15 8 15;
}

#paneLabelThongTin{
    -fx-background-color: #f1f1f1;
    -fx-background-radius: 20px;
}

#menuBar {
    -fx-background-color: #1e90ff;
    -fx-padding: 0;
}

/* Nút menu top-level (skin của Menu là .menu-button) */
#menuBar > .container > .menu-button {
    -fx-background-color: transparent;
    -fx-padding: 10 15 10 15;
}

/* Chữ của menu top-level */
#menuBar > .container > .menu-button > .label {
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

/* Hover & khi menu đang bung (showing) */
#menuBar > .container > .menu-button:hover,
#menuBar > .container > .menu-button:showing {
    -fx-background-color: #003cff;
}

/* Popup menu (dropdown) chỉ khi mở từ thanh này */
#menuBar .context-menu {
    -fx-padding: 0;
    -fx-background-color: #ffffff;
    -fx-background-insets: 0;
    -fx-border-width: 0;
}

/* Item trong dropdown */
#menuBar .menu-item {
    -fx-font-size: 16px;
    -fx-background-color: white;
}
#menuBar .menu-item > .label {
    -fx-text-fill: black;
}
#menuBar .menu-item:focused,
#menuBar .menu-item:hover {
    -fx-background-color: #efefef;
}

/* Màu chữ của accelerator (phím tắt) trong dropdown */
#menuBar .menu-item .accelerator-text {
    -fx-text-fill: #999999;
    -fx-opacity: 0.5;
}
